<div class="fretboard-container">
  <div class="fretboard-visual">
    <div *ngFor="let fret of fretsArray; let i = index" class="fret-visual">
      <div class="dot" *ngIf="i === 3 || i === 5 || i === 7 || i === 12"></div>
      <div class="dot" *ngIf="i === 7 || i === 12"></div>

      <div style="position: absolute; bottom: -20px">{{ i }}.</div>
    </div>
  </div>

  <div class="fretboard">
    <div class="string" *ngFor="let string of stringObjects">
      <div
        class="fret"
        (click)="playNote(note)"
        [class.hide]="note.hide"
        [class.selected]="note.selected"
        [class.root]="note.isRoot"
        *ngFor="let note of string.notes"
        (click)="note.selected = !note.selected"
      >
        <div class="inner-string"></div>
        <div class="note">{{ note.note }}</div>
      </div>
    </div>
  </div>
</div>

<div>
  <label>Root Note</label>
  <select #rootselect>
    <option *ngFor="let note of noteMap; let i = index" [value]="note">
      {{ note }}
    </option>
  </select>
</div>

<div>
  <label>Scale</label>
  <select (change)="onScale($event, rootselect.value)">
    <option *ngFor="let scale of scales; let i = index" [value]="i">
      {{ scale.name }}
    </option>
  </select>
</div>

<div>
  <label>Triads</label>
  <select (change)="onTriad($event, rootselect.value)">
    <option *ngFor="let scale of scales; let i = index" [value]="i">
      {{ scale.name }}
    </option>
  </select>
</div>

<input
  type="checkbox"
  [value]="showNotesNotInScale"
  (click)="showNotesNotInScale = !showNotesNotInScale"
/>

<input
  #frets_input
  type="range"
  [min]="0"
  [max]="24"
  [value]="frets"
  (mouseup)="updateFretsNum(frets_input.value)"
/>

<button (click)="addStep()">Record</button>
<button (click)="playSteps()">Play</button>

<div>
  <div (click)="setStep(step)" *ngFor="let step of steps; let i = index">
    {{ i }}
  </div>
</div>
